/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless reqUIred by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#82BC75;
    background-image:linear-gradient(top, #358824 0%, #82BC75 51%);
    background-image:-webkit-linear-gradient(top, #358824 0%, #82BC75 51%);
    background-image:-ms-linear-gradient(top, #358824 0%, #82BC75 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #358824),
        color-stop(0.51, #82BC75)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    
    width:100%;
}

/* Portrait layout (default) */
.index {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:35%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}
.signup {
    background:url(../img/logo2.png) no-repeat center top;  /*170px x 200px */
    position:absolute; 	/* position in the center of the screen */
    left:50%;
    top:25%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:150px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}
.boiler{
	background:url(../img/logo2.png) no-repeat center top;  /*170px x 200px */
    position:absolute;  /* position in the center of the screen */
    left:35%;
    top:25%;
    height:440px;                   /* text area height */
    width:340px;                   /* text area width */
    text-align:center;
    padding:150px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}
#interface{
	margin-top:-30px;
	position:absolute;  /* position in the center of the screen */
    height:70%;                   /* text area height */
    width:90%;  	/* text area width */
	left: 2%;
    text-align:center;
	padding-left: 10px;
	padding-right: 10px;
}
.UIButton{
	border-style: solid;
    border-width: 2px;
	border-radius: 25px;
	margin-top:14px;
	margin-bottom:2px;
	padding-top:0px;
	margin-left: 18px;
	margin-right:10px;
	font-size:17pt;
	color:white;
	width:120px;
	height: 120px;
	text-align:center;
	float:left;
}
.center{
	padding-top:20px;
}
.UIButton:hover{
	font-weight:bold;
}
.intro{
	font-size:12pt;
	font-weight:bold;
	text-align:left;
	margin-top:-5px;
	margin-bottom:-10px;
}
#form{
	position:absolute;             /* position in the center of the screen */
    left:15%;
    top:20%;
	width:270px; 
	
}
#signup-button{
	height: 35px;      /* increase the height */
	width: 90px;
    line-height: 35px;
	margin-left: 30%;
}
.logo{
	margin-top:-40%;
	
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}
.login{
	height:5%;
    font-size:14pt;
	margin-bottom:1px;
}
.button {
    height: 35px;      /* increase the height */
	width: 90px;
    line-height: 35px; /* vertically align the text */
}
#signin{
	margin-top: 5%;
	
}
h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
	color:#030F00;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
.MoodlifterButtons
{
	border-style: solid;
    border-width: 2px;
	border-radius: 25px;
	
	margin-bottom:0px;
	padding-top:-10px;
	margin-left: 0px;
	margin-right:0px;
	font-size:10pt;
	color:white;
	width:200px;
	height: 50px;
	text-align:center;
	float:left;
}
#MLinterface{
	margin-top:-30px;
	position:absolute;  /* position in the center of the screen */
    height:70%;                   /* text area height */
    width:90%;  	/* text area width */
	left: 17.5%;
    text-align:center;
	padding-left: 10px;
	padding-right: 10px;
}